@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #ffffff;
    --foreground: #171717;
    --radius: 0.5rem;
    --bottom-nav-height: 64px;
    --header-height: 75px;
  }
}
@layer components {
  .react-calendar {
    @apply border-none w-full;
  }
  .react-calendar__tile--active {
    @apply bg-[#FA2840] text-white !important;
  }
  .react-calendar__navigation button:disabled {
    @apply bg-transparent !important;
  }
  /* .react-calendar__tile:disabled:not(
      .react-calendar__month-view__days__day--neighboringMonth
    ) {
    @apply bg-transparent text-black !important;
  }
  .react-calendar__tile:enabled:hover {
    @apply bg-transparent !important;
  } */
  .react-calendar__tile:disabled {
    @apply bg-transparent !important;
  }
  .react-calendar__navigation__label__labelText {
    @apply text-base font-bold text-[#2d2d2d] leading-5 !important;
  }

  .react-calendar__tile--now:not(.react-calendar__tile--active) {
    @apply bg-transparent !important;
  }
  .react-calendar__navigation__label {
    @apply flex-grow-0  !important;
  }
  .react-calendar__navigation {
    @apply justify-center  !important;
  }
  .react-calendar__month-view__weekdays__weekday > abbr {
    @apply no-underline !important;
  }
  .react-calendar__month-view__weekdays__weekday {
    @apply text-[#2D2D2D] font-medium  !important;
  }
}
/* 다크모드 */
/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

html {
  touch-action: manipulation; /* 터치로 확대/축소를 방지 */
  -ms-touch-action: manipulation; /* IE 지원 */
}

body {
  overscroll-behavior: none; /* 스크롤로 인한 확대 방지 */
  color: var(--foreground);
  background: var(--background);
  font-family: Pretendard;
  width: 100%;
  min-width: 360px;
  max-width: 480px;
  height: 100dvh;
  margin: 0 auto;
  background-color: #fff;
  box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.1);
}
::-webkit-scrollbar {
  display: none;
}
